#logo {
    width: 500px;
}

.toptext {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 44px;
    z-index: 100;
    position: absolute;
    top: 103px;
    left: 175px;
    color: rgb(233, 233, 233);
    
}

.container {
    max-width: 800px;
    height: 420px;
    padding: 20px;
    min-width: 500px;
}

#startBtn {
    margin-left: 300px;
    width: 150px;
    background-color: white;
    color: black;
    border: solid 1px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    position: absolute;
    bottom: 165px;

}

#startBtn:hover {
    background: black;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 1px white;
}

body {
    background-image: url(../images/office-backgorund.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}

#currentQuestion {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.question {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#timeLeft {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#message {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    left: 100px;
}

.userChoice:hover {
    background-color: black;
    color: white;
}

.userChoice {
    border: solid 1px black;
    margin-bottom: 10px;
}

.answers {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#gif {
    margin-left: 180px;
    margin-bottom: 10px;
}

#correctAnswers {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#incorrectAnswers {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#unanswered {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#subMsg {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

#restartBtn {
    bottom: -130px;
    position: absolute;
    border: solid 1px white;
}

@media screen and (max-width : 680px){
    #gif {
        left: -100px;
        position: absolute;
    }

    #restartBtn {
        position: absolute;
        left: -100px;
    }

    #startBtn {
        position: absolute;
        left: -100px;
    }

}