#logo {
    width: 500px;
}

.toptext {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 43px;
    z-index: 100;
    position: absolute;
    top: 105px;
    left: 175px;
    color: rgb(228, 228, 228);
}

.container {
    max-width: 800px;
    height: 420px;
    padding: 20px;
}

#startBtn {
    margin-left: 300px;
    width: 150px;
    background-color: white;
    color: black;
    border: solid 1px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;

}

#startBtn:hover {
    background: black;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: url(../images/dunder-mifflin-wallpaper_205876.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}

#currentQuestion {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.question {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#timeLeft {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#message {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.userChoice:hover {
    background-color: black;
    color: white;
}

.userChoice {
    border: solid 1px black;
    margin-bottom: 10px;
}

.answers {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#gif {
    margin-left: 220px;
    margin-bottom: 10px;
}

#correctAnswers {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#incorrectAnswers {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#unanswered {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#subMsg {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
}